@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing:border-box; -o-box-sizing:border-box; font-family: 'Roboto', sans-serif;}
html,body{margin: 0;padding: 0;-ms-overflow-style: none; /*익스플로러, 엣지*/}
body{overflow-y: auto;}
body * {touch-action: none;}
body::-webkit-scrollbar { display: none;/*크롬, 사파리, 오페라*/  }
h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
a{text-decoration: none;}
ul,ol{margin: 0;padding: 0;list-style: none;}
header,main,footer,section,aside,article{display: block;}
.font_02{font-family: 'Maven Pro', sans-serif;}
.font_03{font-family: 'Noto Sans KR', sans-serif;}




main{width: 100%; height: 100%; padding:0 20px;}
main .cont_box{width: 600px; height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; margin: 0 auto; border-top: 10px solid #000; font-size: 0;}
main .cont_box .notice{}
main .cont_box .notice .txt_part{padding-top: 50px;}
main .cont_box .notice .txt_part h1{font-size: 32px;}
main .cont_box .notice .txt_part p{color: #888; font-weight: 400; font-size: 30px; padding-top: 13px;}
main .cont_box .notice .img_part{padding: 20px 0;}
main .cont_box .notice .img_part img{height: 160px;}
main .cont_box .notice p{color: #666; font-weight: bold; font-size: 16px;}
main .cont_box .notice > p:nth-child(3){font-size: 18px; font-weight: 700; padding-bottom: 5px;}
main .cont_box .notice p:nth-child(3) .txt_01{font-size: 18px; font-weight: 700; color: rgb(162, 83, 95);}
main .cont_box .notice p:nth-child(4){font-size: 18px; font-weight: 700;}
main .cont_box .notice p:nth-child(5){font-size: 22px; font-weight: 700; padding: 10px 0 40px; color: #000;}
main .cont_box .notice p:nth-child(6){font-size: 22px; padding-bottom: 5px; font-weight: 500;}
main .cont_box .notice p:nth-child(6) span{color: rgb(162, 83, 95);}
main .cont_box .notice p:nth-child(7){font-size: 22px; font-weight: 500;}
main .cont_box .notice p:nth-child(8){font-size: 22px; font-weight: 600; color: #000; padding: 20px 0 30px;}



main .cont_box .notice .info{border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; padding: 35px;}
main .cont_box .notice .info .flex{display: flex; align-items: center;}
main .cont_box .notice .info .flex:nth-child(1){padding-bottom: 20px;}
main .cont_box .notice .info .flex:nth-child(2){text-align: left;}
main .cont_box .notice .info .flex h3{width: 200px; font-size: 18px; text-align: center; color: 000;}
main .cont_box .notice .info .flex .deadline{font-weight: bold;}
main .cont_box .notice .info .flex .deadline .flex_box{
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px 0;
    font-size: 0;
}
main .cont_box .notice .info .flex .deadline .flex_box .mark{
    font-size: 30px; 
    color: #000;
}
main .cont_box .notice .info .flex .deadline .flex_box .box{
    display: table;
    width: 70px; 
    height: 35px; 
    position: relative;
    /* border:2px solid ; */
    background: linear-gradient(180deg, #ddd, #fff); 
    border-radius: 10px;
    /* box-shadow: 10px 5px 5px rgb(166, 166, 226); */
    filter:drop-shadow(0 0 0.1rem rgb(250, 5, 5));
}
main .cont_box .notice .info .flex .deadline .flex_box .box::after{   
    content: ""; clear: both; display: block;  
    background: transparent; 
    position: absolute; top: -5px;left: 50%;
    transform: translate(-50%);
    border-top: 5px solid #aaa;
    border-right: 5px solid #fff;
    border-left: 5px solid #000;
    border-bottom: 5px solid transparent;
}
main .cont_box .notice .info .flex .deadline .flex_box .box p{
    display: table-cell; 
    color: #000; 
    font-weight: bold; 
    font-size: 18px; 
    vertical-align: middle;
}
main .cont_box .notice .info .flex .date p{font-size: 18px; color: #000; font-weight: normal; filter:drop-shadow(0 0 0.100rem crimson);}





main .cont_box .notice footer{padding-top: 30px;}
main .cont_box .notice footer a{display: block;}
main .cont_box .notice footer img{display: block; height: 40px; margin: 0 auto;}



/* 브라우저 넓이 800px 이하일 때 */
@media (max-width:650px){
    main .cont_box{width: 100%; height: 100%; min-height: 100%;}
    main .cont_box .notice .txt_part h1{font-size: 20px;}
    main .cont_box .notice .txt_part > p{font-size: 18px;}
    main .cont_box .notice > p:nth-child(3){font-size: 12px;}
    main .cont_box .notice p:nth-child(3) .txt_01{font-size: 12px;}
    main .cont_box .notice p:nth-child(4){font-size: 12px;}
    main .cont_box .notice p:nth-child(5){font-size: 14px;}
    main .cont_box .notice p:nth-child(6){font-size: 12px;}
    main .cont_box .notice p:nth-child(7){font-size: 12px;}
    main .cont_box .notice p:nth-child(8){font-size: 14px;}
    main .cont_box .notice .img_part img{height: 80px;}
    main .cont_box .notice .info .flex h3{width: 80px; font-size: 12px;}
    main .cont_box .notice .info .flex .deadline .flex_box .box{width: 50px;}
    main .cont_box .notice .info .flex .date{}
    main .cont_box .notice .info .flex .date p{font-size: 12px;}
    main .cont_box .notice .txt_part{padding-top: 10px;}
    main .cont_box .notice .txt_part p{padding-top: 0;}
    main .cont_box .notice .img_part{padding: 5px 0;}
    main .cont_box .notice p:nth-child(5){padding: 5px 0 15px;}
    main .cont_box .notice p:nth-child(6){padding-bottom: 0;}
    main .cont_box .notice p:nth-child(8){padding: 5px 0 10px;}
    main .cont_box .notice .info{padding: 10px;}
}
/* 화면고정, 모바일  */
@media (min-height:894px) and (max-width: 768px){
    body{overflow-y: hidden;}
}

